@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  margin: 200px auto;
  width: 80%;
  max-width: 1500px;
  height: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  z-index: 1;
  margin: auto;
}

.title {
  color: var(--color-text-dark);
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  text-align: center;
  font-family: var(--font-abril-fatface), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, var(--color-text-dark) 0%, var(--color-pop-2) 70%, rgb(25,25,25) 120%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 30px;
  margin-bottom: 52px;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.heroBtn {
  text-decoration: none;
  background-color: var(--color-pop-2);
  color: #fff;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.heroImg {
  width: 100%;
  z-index: 1;

  animation-name: swinging;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  filter: opacity(.9) drop-shadow(0 0 0 var(--color-primary));
}

.unhighlight {
  color: var(--color-neutral-medium);
  font-size: 16px;
}

@keyframes swinging {
  0% {
    transform-origin: 50% 0;
    transform: rotate(-5deg);
  }

  50% {
    transform-origin: 50% 0;
    transform: rotate(5deg);
  }

  100% {
    transform-origin: 50% 0;
    transform: rotate(-5deg);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-height: 350px;
  top: -128px;
  left: 10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 250px;
  min-height: 350px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    justify-content: center;
    margin: 100px auto;
  }

  .content {
    align-items: center;
    gap: 50px;
  }

  .description {
    display: none;
  }

  .buttons {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    text-align: center;
  }

  .heroBtn {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    text-transform: unset;
  }

  .title {
    font-size: 55px;
  }
}