@import '../../vars.css';

.container {
  position: relative;
  background: linear-gradient(180deg, var(--color-pop-3) 0%, var(--color-pop-5) 100%);
  padding: 30px;
  margin-top: 129px;
  overflow: hidden;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  color: #fff;
  filter: invert(18%) sepia(42%) saturate(1690%) hue-rotate(130deg) brightness(96%) contrast(103%);
}

.box {
  /*background: var(--color-pop-3);*/
  border-radius: 15px;
  margin: 100px 30%;
  max-width: 1500px;
  z-index: 1;
  padding: 50px 4%;
  color: #fff;

  /* Frosted Glass Effect */
  background: #d2fff418;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid #00423254;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: larger;
  font-weight: 500;
  text-align: justify;
  line-height: 1.5;

  span {
    font-weight: 700;
  }
}

.title {
  color: var(--color-text);
  margin-bottom: 30px;
  text-align: center;
}

.aboutImg {
  width: 80%;
  
  animation-name: wobble;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
}

.aboutElements {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutElement:hover {
  background-size: 100% 100%;
}

.aboutElement h3 {
  font-size: 25px;
  font-weight: 600;
}

.aboutElement p {
  font-size: 25px;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImg {
    display: none;
  }

  .bgImage {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}

@keyframes wobble {
  0% {
    transform-origin: 10% 80%;
    transform: rotate(0deg);
  }

  50% {
    transform-origin: 10% 80%;
    transform: rotate(-3deg);
  }

  100% {
    transform-origin: 10% 80%;
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 830px) {

  .container {
    padding: 0;
  }

  .box {
    background: none;
    margin: 40px 30px;
    padding: 0px;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
  }

  .content {
    text-align: left;
    font-weight: 400;
  }
}