@import '../../vars.css';

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menu {
  display: flex;
  margin-top: 60px;
  margin-left: 60px;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

.menuBtn {
  display: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    display: inline-block;
    width: 90%;
    gap: 11px;
    z-index: 3;
    margin: 20px;
  }

  .menuBtn {
    display: inline-block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 13px;
    border-radius: 10px;
    background: var(--color-pop-2);
    color: #fff;
    /*background: linear-gradient(0deg, rgba(25, 55, 109, 0.2), rgba(25, 55, 109, 1) 100%);*/
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}