@import '../../vars.css';

.container {
  color: var(--color-text);
  padding: 100px 10%;
  background: var(--color-neutral-light);
  background-image: linear-gradient(rgba(23, 23, 23, 0.2) .1em, transparent .1em), linear-gradient(90deg, rgba(23, 23, 23, 0.2) .1em, transparent .1em);
  background-size: 3em 3em;
}

.container:hover {
  cursor: crosshair;
}

.title {
  display: table;
  color: var(--color-text);
  text-align: center;
}

.titleBox {
  background: var(--color-neutral-light);
  border-radius: 15px;
  padding: 10px 30px;
  margin: 0 auto 50px auto;
  width: fit-content;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
  gap: 40px;
}

.skills {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  gap: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  /* Coin Flip Start */
  -webkit-transition: transform 1s ease;
  -moz-transition: transform 1s ease;
  /*-ms-transition: transform 1s ease;
  -o-transition: transform 1s ease;*/
  transition: transform 1s ease;
  /* Coin Flip End */
}

.skillImageContainer {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  transition-duration: .4s;

  background-color: rgba(225, 225, 225, 0.6);
  /*background: linear-gradient(90deg, rgba(225, 225, 225, 0.8) 0%, rgba(225, 225, 225, 0.6) 100%);*/
  border: 1px solid var(--color-neutral-light);
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.skillImageContainer:hover {
  scale: 115%;
  /* Coin Flip Start */
  transform: translateX( -1px ) rotateY( 180deg ); /* ALSO EXTRA TRANSFORM PROPERTIES ADDED FOR COMPATIBILITY*/
  -ms-transform: translateX( -1px ) rotateY(180deg); /* IE 9 */
  -webkit-transform: translateX( -1px ) rotateY(180deg); /* Chrome, Safari, Opera */
  /* Coin Flip End */
  img {
    display: none;
  }

  .skillName {
    display: block;
    scale: 100%;
    opacity: 1;
  }
}

.skillImageContainer img {
  width: 50px;
}

/*.skill p {
  font-size: 18px;
  text-align: center;
  /*font-familiy:
  font-weight: 700;
  width: 80px;
  background-color: var(--color-neutral-light);
  padding: 5px;
}*/

.skillName {
  display: none;
  opacity: 0;
  font-size: 12px;
  text-align: center;
  /*font-familiy:*/
  font-weight: 600;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
  -webkit-transition: opacity 1s ease, display 1s 1s ease;
  -moz-transition: opacity 1s ease, display 1s 1s ease;
  transition: opacity 1s ease, display 1s 1s ease;
}

.experience {
  width: 70%;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.experienceItem {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 17px;
  background: var(--color-neutral-light);
  background: linear-gradient(90deg, rgba(225, 225, 225, 0.8) 0%, rgba(225, 225, 225, 0.6) 100%);
  border-radius: 10px;
  border: 1px solid var(--color-neutral-light);
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  padding: 40px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.logo {
  width: 50px;
  object-fit: contain;
}

/*.experienceItemDetails {
  font-family
}
*/

.experienceItemDetails h3 {
  font-size: 25px;
  font-weight: 500;
}

.date {
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.description {
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
}

.experienceItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 830px) {

  .container {
    padding: 100px 5%;
  }

  .content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .experience {
    width: 100%;
    gap: 9px;
  }
  
  .experienceItem {
    flex-direction: column;
    align-items: start;
  }

  .description {
    text-align: left;
  }
}