@import '../../vars.css';

.container {
  color: var(--color-text);
  padding: 100px 10%;
  background: var(--color-neutral-light);
  background-image: linear-gradient(rgba(23, 23, 23, 0.2) .1em, transparent .1em), linear-gradient(90deg, rgba(23, 23, 23, 0.2) .1em, transparent .1em);
  background-size: 3em 3em;
}

.title {
  display: table;
  color: var(--color-text);
  text-align: center;
}

.titleBox {
  background: var(--color-neutral-light);
  border-radius: 15px;
  padding: 10px 30px;
  margin: 0 auto 50px auto;
  width: fit-content;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  gap: 11px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-pop-3);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  transition-duration: .4s;
}

.skillImageContainer:hover {
  scale: 105%;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 18px;
  text-align: center;
  /*font-familiy:*/
  font-weight: 700;
  width: 80px;
  background-color: var(--color-neutral-light);
  padding: 5px;
}

.experience {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.experienceItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
}

.experienceItem img {
  width: 50px;
}

/*.experienceItemDetails {
  font-family
}
*/

.experienceItemDetails h3 {
  font-size: 25px;
  font-weight: 500;
}

.experienceItemDetails p {
  font-size: 18px;
  font-weight: 300;
}

.experienceItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .experience {
    width: 100%;
    gap: 9px;
  }
}